/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container {
  padding: 30px 15px 0;
}

button {
    margin-top: 10px;
}
