
{{ include('/shared/header.twig') }}
{{ include('/shared/nav.twig') }}
{{ include('/util/secure_conn.php') }}

<main>
    <div class="container">
        <h2>{{ error_message }}</h2>
    </div>
</main>
</body>
</html>