{{ include('/shared/header.twig') }}
{{ include('/shared/nav.twig') }}
{{ include('/util/secure_conn.php') }}


<main>
    <div class="container">
        <h2>Welcome to Muscle Mayhem</h2>
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="./view/images/hero.jpg" alt="" width="1000px" height="500px">
            <h1 class="display-5 fw-bold">Let's get started!</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Join our gym today and start your fitness journey with us. Our state-of-the-art facilities and expert trainers are here to help you achieve your fitness goals.</p>
                <p>Visit us at 123 Main Street, Anytown, USA to sign up for a membership today.</p>
                <p>We look forward to seeing you at Muscle Mayhem!</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>